{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card bg-transparent">
                <h1 class="text-center">Leave a Comments</h1>
                <hr>
                    <div class="card-header">
                        <h4 class="text-center"><b><u>Review project</u></b></h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'comment' id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %} {% bootstrap_form form %}
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}